body {
  background-color: rgb(147, 147, 166);
}

h1 {
  font-family:  'Times', sans-serif;
  color: rgb(57, 57, 95);
}
h3 {
  font-family:  'Times', sans-serif;
  color: rgb(90, 73, 73);
}
  body{
  font-size: 20px;
  line-height: 1,3;
  }
  a {
    color:rgb(100, 7, 230);
    text-decoration: none;
  }

  a:hover {
    color: azure;
    text-decoration: underline;
  }
